.dropdown {
    position: relative;
    display: inline-block;
    background: var(--starship-grey);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
}

.dropdown-item {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-item:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

