form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    padding: 15px;
    width: 40%
}

label {
    display: flex;
    justify-content: space-between;

    padding: 5px 0;
    width: 100%;
}

input[type="submit"] {
    align-self: flex-end;
}