.button-element:active {
    filter: brightness(85%);
}

.button-element {
    width: 200px;
    height: 100px;

    padding: 10px;
    margin: 10px 0;

    color: var(--stormtrooper-white);
    background: var(--sith-red);

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    text-decoration: none;
}