header {
    height: 150px;
    width: 100%;

    background: var(--space-black); 
    color: var(--stormtrooper-white);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title {
    margin: 15px;
}
