.JobCard {
    color: var(--stormtrooper-white);
    background: var(--sith-red); 
    width: 300px;

    display: flex;
    flex-direction: row;

    margin: 15px;
    padding: 20px;

    border-radius: 5px;

    justify-content: space-between;
    align-items: center;
}

.item {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;

    margin: 10px 0px;
}

.title {
    flex: 1;
}