#LogoutPanel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    algin-items: flex-start;

    margin-right: 20px;
    padding: 5px;

    border-width: 2px;
    border-radius: 3px;

    width: fit-content;
    height: fit-content;

    background: var(--sith-red);
    color: var(--stormtrooper-white);
}

span {
    margin: 5px;

    font-weight: bold;
}

span.uname {
    color: var(--space-black);
}

button {
    margin: 5px;
}
