:root {
    --space-black:          #212121;

    --starship-grey:        #C2C0C3;

    --stormtrooper-white:   #FEFFFF;
    
    --science-blue:         #6996FD;
    --cosmic-blue:          #0E4BCA;
    --united-earth-blue:    #154FC0;

    --sith-red:             #E7262E;
    --tatooine-orange:      #F96E5B;
}

html, body,  #root{
    height: 100%;
    width: 100%;

    margin: 0;
    background-color: var(--stormtrooper-white);

    font-family: Helvetica;
}

/* Taken from the stack overflow question about no highlight selection.
 *
 * https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting
 */
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}
