#AdminPage {
    width: 100%;
    height: 100%;

    background: var(--stormtrooper-white); 

    display: flex;
    flex-direction: column;
}

#content {
    height: calc(100% - 150px); 

    display: flex;
}

#jobs-column {
    height: calc(100% - 40px); 
    width: calc(70% - 40px);

    padding: 20px;
}

#buttons-column {
    height: calc(100% - 40px);
    width: calc(30% - 40px);

    padding: 20px;
}
