#JobsPanel {
    background: var(--starship-grey);

    height: calc(100% - 20px); 
    width: calc(100% - 20px); 

    padding: 10px;
    margin: 0;
}

#head {
    height: calc(10% - 10px);
    padding: 10px 0;
}

#board {
    height: calc(90% - 20px);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: wrap;
}

/** 
In order to get jobs appearing two at a time we're
making div rows to place them.
*/
#row {
    width: 100%;

}

h2 {
    margin: 0;
}
